<div class="header">
  <a @click.prevent="goHome()"
    href="/landing"
    class="inert title">
    <h1>Lists</h1>
  </a>
</div>

<style scoped lang="scss">
.header {
  background: var(--punch-color);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "title";
  grid-gap: var(--spacer);

  padding: var(--spacer);;
  
  .title {
    grid-area: title;
    border-radius: 0px;
    padding: var(--spacer);
    color: white;
    font-weight: bold;

    h1 {
      color: inherit;
      font-weight: inherit;
    }
  }
  
  .inert {
    text-decoration: none;
    transition: color 0.1s ease-out, background 0.1s ease-out;
    
    &:hover, &:active {
      background: #33333333;
    }
  }
}
</style>