<div class="header">
  <a @click.prevent="goHome()"
    href="/landing"
    class="inert title">
    <h1>Yogh Lists</h1>
  </a>
</div>

<style scoped lang="scss">
.header {
  background: #fff;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "title";
  grid-gap: var(--spacer);

  margin-bottom: 20px;
  padding: var(--spacer);;
  
  .title {
    grid-area: title;
    padding: var(--spacer);
    color: inherit;
  }
  
  .inert {
    color: initial;
    text-decoration: none;
    transition: color 0.1s ease-out, background 0.1s ease-out;
    
    &:hover {
      color: var(--theme-color);
      background: #f5f5f5;
    }
    &:active {
      background: #e5e5e5;
    }
  }
}
</style>